@import 'vars';

.header {
    position: relative;

    &__ttl {
        top: 5px;
        left: 30px;
        position: absolute;
        font-size: 2rem;
        color: $theme-100;
        font-family: $changa;

        @include mq(tab) {
            font-size: 1.7rem;
        }
    }

    &__subttl {
        position: absolute;
        top: 50px;
        left: 30px;
        font-size: 1rem;
        color: $theme-100;
        color: white;
        font-family: $changa;
        z-index: 1;
    }

    .rabit__ura {
        position: absolute;
        // top: -20px;
        left: 100px;
        height: 100px;
    }

    &__hum {
        cursor: pointer;
        position: absolute;
        top: 20px;
        right: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 30px;
        width: 30px;
        z-index: 999;

        span {
            height: 2px;
            width: 100%;
            background: $theme-100;
            border-radius: 2px;
        }
    }
}