@use 'vars';

.header {
    position: relative;

    &__ttl {
        top: 5px;
        left: 30px;
        position: absolute;
        font-size: 2rem;
        color: vars.$theme-100;
        font-family: vars.$changa;

        @include vars.mq(tab) {
            font-size: 1.7rem;
        }
    }

    &__subttl {
        position: absolute;
        top: 50px;
        left: 30px;
        font-size: 1rem;
        color: vars.$theme-100;
        color: white;
        font-family: vars.$changa;
        z-index: 1;
    }

    .rabit__ura {
        position: absolute;
        // top: -20px;
        left: 100px;
        height: 100px;
    }

    &__hum {
        cursor: pointer;
        position: absolute;
        top: 20px;
        right: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 30px;
        width: 30px;
        z-index: 9999;
        
        &.active span {
            background: white;
        }

        span {
            height: 2px;
            width: 100%;
            background: vars.$theme-100;
            border-radius: 2px;
            transition: all .5s ease-in-out;
        }
    }
}

.hum-nav {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100vw;
    background: vars.$theme-100;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    transition: all .5s ease-in-out;

    &.active {
        opacity: 1;
        visibility: visible;
    }

    ul {
        list-style: none;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 50px;

        li {
            display: flex;
            align-items: center;
            column-gap: 20px;

            svg {
                height: 2rem;
                
                &.twitter {
                    fill: vars.$twitter-blue;
                }

                &.github {
                    fill: white;
                }
            }

            a {
                text-decoration: none;
                font-size: 2rem;
                font-family: vars.$changa;
                font-weight: bold;
                color: vars.$theme-200;
                transition: all .3s ease-in-out;

                &:hover {
                    color: vars.$theme-400;
                }
            }
        }
    }
}