@use 'header';
@import 'vars';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}

body {
    height: 200vh;
    overflow: hidden;
    background: white;

    &.active {
        overflow-y: scroll;
    }

    .hero {
        position: relative;
        height: 100vh;
        width: 100vw;

        div[class*="hero__block"] {
            position: absolute;
            top: 0;
            right: 0;
            height: 100vh;
        }

        &__block {
            &1 {
                width: 100vw;
                background: $theme-100;
                z-index: -4;
            }

            &2 {
                width: 85vw;
                background: $theme-200;
                z-index: -3;
                clip-path: polygon(200px 0%, 100% 0, 100% 100%, 0% 100%);
            }

            &3 {
                width: 55vw;
                background: $theme-300;
                z-index: -2;
                clip-path: polygon(200px 0%, 100% 0, 100% 100%, 0% 100%);
            }

            &4{
                width: 35vw;
                background: $theme-400;
                z-index: -1;
                clip-path: polygon(200px 0%, 100% 0, 100% 100%, 0% 100%);
            }
        }
    }

    .garally {
        // height: 100vh;
        width: 100vw;
        padding: 30px;
        background: $theme-100;

        &__ttl {
            font-size: 4rem;
            color: $theme-200;
            font-family: $changa;
            text-align: center;
            padding-block: 50px;
        }

        section {
            padding: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 50px;

            >img {
                width: 30vw;
            }

            .desc {
                &__ttl {
                    font-size: 4rem;
                    color: $theme-400;
                    font-family: $changa;
                }

                &__sentences {
                    font-size: 1.5rem;
                    color: $theme-300;
                    font-family: $changa;
                    line-height: 2;
                }
            }
        }

        .colo-colo {
            margin: 0 auto;

            >img {
                display: block;
                width: 30vw;
                margin: 0 auto;
            }

            >p {
                font-size: 1.5rem;
                color: $theme-200;
                font-family: $changa;
                text-align: center;
            }
        }
    }
}